[alias]
  permission-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  pff = pull --ff-only
  pr = pull --rebase
  aa = add -A
  cm = commit -m
  s = status
  co = checkout
  c = commit
  pt = push --follow-tags
  f = fetch
  contrib = shortlog -sn --no-merges
  pb = "!git push -u origin \"$(git rev-parse --abbrev-ref HEAD)\""
  # https://piechowski.io/post/git-commands-before-reading-code/
  # https://news.ycombinator.com/item?id=47687273
  changes-1y = !git log --format=format: --name-only --since='1 year ago' | sort | uniq -c | sort -nr | head -20
  changes-1m = !git log --format=format: --name-only --since='1 month ago' | sort | uniq -c | sort -nr | head -20
  monthly-commits = !git log --format='%ad' --date=format:'%Y-%m' | sort | uniq -c
  churn = !git log --format='' --name-only --diff-filter=AM --since='1 year ago' | sort | uniq -c | sort -nr | head -20
  builtby = shortlog -sn --no-merges
  bug-gathering = !git log -i -E --grep='fix|bug|broken' --name-only --format='' | sort | uniq -c | sort -nr | head -20
  firefighting = !git log --oneline --since='1 year ago' | grep -iE 'revert|hotfix|emergency|rollback'
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[push]
  default = simple
[merge "npm-merge-driver"]
  name = automatically merge npm lockfiles
  driver = npx npm-merge-driver merge %A %O %B %P
[commit]
  gpgsign = true
[tag]
  gpgsign = true
[user]
  email = colwyn@colwyn.me
  name = Colwyn Fritze-Moor
[init]
  defaultBranch = main
[include]
  path = .gitconfig.signingKey
